NEXT_PUBLIC_SUPABASE_URL=https://nnlljpwrabcyochobflq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ubGxqcHdyYWJjeW9jaG9iZmxxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM1MzM5MzEsImV4cCI6MjA4OTEwOTkzMX0.EPx7rGoTcZ9XgWqRvUPHzyaEENsjtrkapVuYRKrc_DM
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5ubGxqcHdyYWJjeW9jaG9iZmxxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzUzMzkzMSwiZXhwIjoyMDg5MTA5OTMxfQ.bMxPH5spXLkMbZ4qlBjOnQSS6gzi5fuOysuKbJHHnX8
BOT_ENGINE_URL=https://1-touchbot-engine.onrender.com
NEXT_PUBLIC_PLATFORM_BOT_USERNAME=@twinbot_twinbot