PORT=3001
DATABASE_URL=postgresql://postgres:Getcharged123##@db.nnlljpwrabcyochobflq.supabase.co:5432/postgres
DIRECT_URL=postgresql://postgres:Getcharged123##@db.nnlljpwrabcyochobflq.supabase.co:5432/postgres
PLATFORM_BOT_TOKEN=8676130678:AAEsZJ_QsW9Os-_nC-Tq9-lC3SwdojI5v3M
REDIS_URL=redis://localhost:6379
JWT_SECRET=Apy+5RFrv/93FGmub7Zi8xTdJwM5OdwCZnKZl1f7E/PX2VI930do/fYZ0opKjeBsV/dVqIQ8yoWroYIMcYq1ZQ==
ENCRYPTION_KEY=ZltCIm0F9442i0PMoy0FBCSJwdjyNR/rnoyrLy8axD4=
OXAPAY_MERCHANT_KEY=JBOSVK-M55SRZ-LEYZ9O-YZ81A1
PLATFORM_BOT_USERNAME=@twinbot_twinbot
WEBHOOK_BASE_URL=https://botifypro-engine.onrender.com

